@charset "UTF-8";

#outerContainer {
	width: 90%;
	margin: auto;
}

.dateHeaders {
	display: block;
}

#title {
	text-align: center;
}

h1 {
    font-family: "Avenir";
}

p {
    font-family: "Avenir";
}

td
{
    font-family: "Avenir";
}

#dateTableContainer {
	width: 70%;
	float: right;
	display: inline-block;
}

#responsesLegendContainer {
	width: 30%;
	display: inline-block;
}

#responsesContainer {
	width: 100%;
	height: 50%;
}

#legendContainer {
	width: 100%;
	height: 50%;
}